* {
  padding: 0;
  margin: 0;
}
#shouye {
  background-color: rgb(216, 216, 216);
}
#shouye .top {
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
}
#shouye .top .topDiv {
  width: 500px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  margin-left: 82px;
}
#xiugai {
  width: 400px;
  /* height: 300px; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20%);
  background-color: rgba(8, 8, 8, 0.748);
  text-align: center;
  display: none;
  z-index: 10;
  border-radius: 10px;
}

#update {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 335%;
  transform: translate(-50%, -50%);
  background-color: rgba(204, 204, 204, 0.182);
  display: none;
  text-align: center;
}

#div2 {
  display: none;
  z-index: 1;
}
.layui-body {
  z-index: 1;
}
#detail_One {
  width: 400px;
  height: 450px;
  position: absolute;
  left: 50%;
  top: 380%;
  transform: translate(-50%, -50%);
  background-color: rgba(204, 204, 204, 0.169);
  text-align: center;
  display: none;
}

.layui-logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#boxone {
  width: 400px;
  /* height: 300px; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20%);
  background-color: rgba(8, 8, 8, 0.748);
  text-align: center;
  display: none;
  z-index: 10;
  border-radius: 10px;
}

button {
  width: 70px;
  height: 25px;
  color: #fff;
  border: 1px solid #0eb0c9;
  background-color: #0eb0c9;
}

.shanchu {
  width: 70px;
  height: 25px;
  color: #fff;
  border: 1px solid #c90e0e;
  background-color: #c90e0e;
}

#boxone i {
  color: #ffff;
}

#div1 {
  width: 500px;
  height: 500px;
  /* border: 1px solid black; */
  margin: auto;
  margin-top: 10%;
}

input {
  display: inline-block;
}

.layui-input {
  float: left;
}

.cls {
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  line-height: 38px;
  border: 1px solid transparent;
  padding: 0 18px;
  background-color: #009688;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  border-radius: 100px;
}

button {
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  line-height: 38px;
  border: 1px solid transparent;
  padding: 0 18px;
  background-color: #009688;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  border-radius: 100px;
  cursor: pointer;
}

#zongsu {
  display: inline-block;
  width: 30px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
}
.chakan {
  width: 400px;
  height: 240px;
  padding-top: 50px;
  position: absolute;
  left: 20%;
  top: 150%;
  transform: translate(-50%, -20%);
  background-color: rgba(8, 8, 8, 0.748);
  text-align: center;
  display: none;
  z-index: 10;
  color: white;
  border-radius: 10px;
}
#box {
  width: 100%;
}

.boxyiyang_p h3 {
  margin-top: 20%;
  font-weight: bold;
  color: #8c8c8c;
}

.boxyiyang_p h4 {
  font-weight: bold;
  color: #666666;
}

.boxyiyang:hover:nth-child(1) .boxyiyang_img {
  background-color: #40c9c6;
  -webkit-animation: fade-in 3s;
  animation: fade-in 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.boxyiyang:hover:nth-child(2) .boxyiyang_img {
  background-color: #36a3f7;
  -webkit-animation: fade-in 3s;
  animation: fade-in 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.boxyiyang:hover:nth-child(3) .boxyiyang_img {
  background-color: #e6a23c;
  -webkit-animation: fade-in 3s;
  animation: fade-in 3s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.boxyiyang_img {
  margin-top: 9px;
  width: 25%;
  height: 80%;
  border-radius: 8px;
  text-align: center;
  line-height: 80px;
}

.boxyiyang_img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#boxyi {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.boxyiyang {
  margin-top: 5%;
  width: 30%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}

#zuiboxer {
  display: none;
}

#zuiboxsan {
  display: none;
}

#boxer {
  width: 90%;
  margin: 15% auto;
  padding: 50px;
  background-color: #ffffff;
  height: 420px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #999;
}
#yong1 {
  display: none;
  z-index: 2;
  margin-top: 100px;
  margin-left: -200px;
}
.topp1 {
  width: 98%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #999;
  margin-top: 1%;
  margin-left: 1%;
}
.topp {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #999;
}
.topp span {
  font-weight: bold;
}
.topp .left {
  width: 50%;
  float: left;
  margin-left: 20px;
  margin-top: 50px;
}
.topp .right {
  width: 48%;
  float: right;
  margin-top: 50px;
}
.nei {
  width: 98%;
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 1%;
  display: flex;
  flex-wrap: wrap;
}
.nei .biao {
  width: 40%;
  height: 379px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 22px;
  box-shadow: 2px 2px 6px #999;
}
.nei .zhe {
  width: 58%;
  height: 379px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 6px #999;
  padding-top: 22px;
}
.nei .zhe1 {
  width: 63%;
  height: 379px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: 10px;
  box-shadow: 2px 2px 6px #999;
  margin-top: 10px;
  padding-top: 22px;
}
.nei .zhe1 span {
  height: 50px;
  margin-top: 15px;
  margin-left: 10px;
}
.nei .zhe span {
  height: 50px;
  margin-top: 15px;
  margin-left: 10px;
}
.nei .zhe div {
  width: 100%;
  border-top: 1px solid rgb(235, 238, 245);
  margin-top: 30px;
}
.nei .zhe1 div {
  width: 100%;
  border-top: 1px solid rgb(235, 238, 245);
  margin-top: 30px;
}
.biao span {
  height: 50px;
  margin-top: 15px;
  margin-left: 10px;
}
.biao div {
  width: 100%;
  border-top: 1px solid rgb(235, 238, 245);
  margin-top: 30px;
}
.nei #ci {
  width: 35%;
  height: 379px;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 6px #999;
  padding-top: 22px;
}
.nei #ci div {
  width: 100%;
  border-top: 1px solid rgb(235, 238, 245);
  margin-top: 30px;
}
.nei span {
  height: 50px;
  margin-top: 15px;
  margin-left: 10px;
}
.biao1111 table {
  width: 100%;
  margin-top: -50px;
  font-size: 15px;
  height: 100px;
  border: none;
}

.biao1111 table tr:nth-child(2) {
  background-color: #ecf5ff;
}

.biao1111 table tr:nth-child(2):hover {
  background-color: #f5f7fa;
}
